body {
    background-image: url("bkg.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    
  }
h1{
  color: #ff5d3d;

}
h4{
  color:black;
}
.navbar a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
  font-size: larger;
  color: (255,0,0,.5)!important;
}

  .btn-sample { 
    color: #FFFFFF; 
    background-color: #F28E46; 
    border-color: #130269; 
  } 
   
  .btn-sample:hover, 
  .btn-sample:focus, 
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    color: #FFFFFF; 
    background-color: #F56C31; 
    border-color: #130269; 
  } 
   
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #F28E46; 
    border-color: #130269; 
  } 
   
  .btn-sample .badge { 
    color: #F28E46; 
    background-color: #FFFFFF; 
  }

  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 400px;
    overflow-y: auto;
  }