html body {
  background-color: rgba(255,255,255,1.00);
  background-image: url(../login/cover_nologo.png);

}

.img_radius {
  border-radius: 8px;
}
.color-tittle{
  color:   #d300c9;
}

.border_form{ 
    border-color:#007bff;
}

.cover {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.register-form {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff; 
  border-radius: 20px;
}

.form-tittle {
  text-align: center;
}
.mycontainer {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.navbar a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
  font-size: larger;
  color:(255,255,255,1)!important;
}

.sign-form{

  margin: auto;
}

.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.g-recaptcha > div{margin: 0 auto;}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: auto;
}